<div class="col-lg-12">
	<h4>{{ fields.field_newsletter_title.content }}</h4>
	<p> {{ fields.field_newsletter_description.content }} </p>
	<form action="" method="post" class="mb-5">
		<input type="email" name="email"><input type="submit" value="Subscribe">
	</form>
</div>
