<h3>Appland</h3>
<p>
{# {% set items = fields.field_contact_location.content|striptags|trim|split(':') %}
{% for i in range(0, items|length - 1) %}
    {{ vardumper(i) }}
    
{% endfor %}
{{ vardumper(items) }} #}
	A108 Adam Street 
	<br>
	New York, NY 535022<br>
	United States
	<br><br>
	<strong>Phone:</strong>
	+1 5589 55488 55<br>
	<strong>Email:</strong>
	info@example.com<br>
</p>
