<div class="copyright">
	&copy; Copyright
	<strong>
		<span> {{ fields.field_site_name_footer.content|striptags|trim }} </span>
	</strong>. All Rights Reserved
</div>

<div class="credits">
	Designed by{{fields.field_link_to_product.content}} 
</div>
