<div class="card">
	<div class="row">
		<div class="col-md-3 bg-primary" 
			data-aos="fade-right" data-aos-offset="50" 
			data-aos-duration="500">
			<div class="card-body cc-experience-header">
				<p>
					{{ fields.field_time_exeperience.content }}
				</p>
				<div class="h5">
					{{ fields.field_work_place.content }}
				</div>
			</div>
		</div>
		<div class="col-md-9" 
			data-aos="fade-left" 
			data-aos-offset="50" 
			data-aos-duration="500">
			<div class="card-body">
				<div class="h5">
					{{ fields.field_name_exp.content| striptags }}
				</div>
				<p>
					{{ fields.field_content_exp.content | striptags }}
				</p>
			</div>
		</div>
	</div>
</div>
