<div class="col-md-6">
	<div class="progress-container progress-primary">
		<span class="progress-badge">
			{{ fields.field_name_skill.content }}
		</span>
		<div class="progress" style="position: static">
			
			<div class="progress-bar progress-bar-primary" 
				data-aos="progress-full" data-aos-offset="10" 
				data-aos-duration="2000" role="progressbar" 
				aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" 
				style="width: {{ fields.field_value_skill.content|striptags|trim }}%;"
			></div>					
			<span class="progress-value">
				{{ fields.field_value_skill.content }}
			%</span>
		</div>
	</div>
</div>
